body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    background-image: url("../images/bananas/bananas.png");
    width: 450px;
    margin: 20px auto;
}

header {
    font-size: 36px;
    font-weight: 700;
    background-color: lightyellow;
    padding: 10px 0;
}

#intro {
    font-size: 24px;
    font-weight: 700;
    /* background-color: lightyellow; */
}

span {
    font-weight: 700;
}

#counters {
    background-color: lightyellow;
}